<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>AppTest</title>
<<<<<<< HEAD
  <link rel="stylesheet" href="/css/style.css">
=======
  <link rel="stylesheet" href="css/style.css">
>>>>>>> 410ec8c8d959406a50d245754b26dd73939c96e5
</head>

<body>

  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">AppTest</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/about">A propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/data">Données</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/livres">Livres</a>
        </li>
      </ul>
    </nav>